@import "variables";

:host {
  ul::ng-deep {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    >li {
      display: inline-block;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

// .main_menu {
//   // max-height: calc(100% - 120px);
//   width: 100%;

//   .nav-md & {
//     display: inline-block;
//     overflow-y: auto;
//   }

//   ::ng-deep {
//     ul.opened {
//       display: block;
//     }

//     .collapsable {
//       .chevron {
//         position: absolute;
//         right: 13px;
//         top: 13px;
//       }

//       a {
//         overflow: hidden;
//         text-overflow: ellipsis;
//         padding-right: 40px;
//       }

//       .chevron::before {
//         content: '\f078';
//       }

//       &.open {
//         > .child_menu {
//           display: block;
//         }

//         .chevron::before {
//           content: '\f077';
//         }

//         a {
//           background-color: rgba(0, 0, 0, 0);
//         }
//       }
//     }

//     .nav.child_menu > li > a.closeable {
//       padding-right: 30px;

//       .close {
//         position: absolute;
//         right: 10px;
//         top: 10px;
//       }
//     }
//   }

//   .nav.side-menu > li {
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     > a {
//       padding: 10px 15px;
//       margin-bottom: 0px;
//     }
//   }

//   .menu_section {
//     margin-bottom: 0px;
//     > ul {
//       margin-top: 0px;
//     }
//   }
// }
