.modal.side-panel {
  overflow: hidden;

  > .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    margin: 0;

    > .modal-content {
      border-radius: 0;
      height: 100%;

      > .body {
        padding: 1rem;
      }
    }
  }
}
