<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button (click)="hide()" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="body">
    <ng-content *ngIf="!contentPattern;else contentBody"></ng-content>
    <ng-container #contentBody *ngTemplateOutlet="contentPattern; context {$implicit: data}"></ng-container>
  </div>
</ng-template>
