:host {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;

  .title {
    border-bottom: 1px solid #E6E9ED;
    padding: 0px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    .back {
      margin-right: 1rem;
    }

    h4 {
      line-height: 2;
    }
  }

  .content {
    padding: 0 5px 6px;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
  }
}
