<div class="header-info">
  <div class="container-fluid header-container" [ngbCollapse]="collapsed">
    <!--ng-template ngFor let-i="index" let-item [ngForOf]="data">
      <div class="row row-padding" *ngIf="i%4==0">
        <div class="header-item">
          {{item.label}}: {{item.value}}
        </div>
      </div>
    </ng-template-->
    <div *ngFor="let row of data.rows" class="row row-padding">
      <div *ngFor="let item of row.row; let i = index;" class="header-item">
        <ng-template [ngIf]="item.label && item.label != ''"> {{item.label}}:</ng-template> {{item.value}}
      </div>
    </div>
  </div>
  <div class="bottom-collapse" [ngClass]="{'up': !collapsed}"><i (click)="changeCollapse()" ngbTooltip="{{getTooltip()}}" class=" fa" [ngClass]="{'fa-chevron-down': collapsed, 'fa-chevron-up': !collapsed}"></i></div>
</div>
