<div *ngIf="!hide" class="login">
  <div class="login_wrapper">
    <div class="form login_form">
      <section class="login_content">
        <form name="form" method="POST" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <h1>Login Form</h1>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" placeholder="Login"
              required />
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password"
              required />
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
          </div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
      </section>
    </div>
  </div>
</div>
