<nav role="navigation">
  <div [routerLink]="['']" class="site_title">DemoApp</div>
  <div class="navigation">
    <app-navbar main="true" [items]="menuItems"></app-navbar>
    <router-outlet name="nav"></router-outlet>
  </div>
  <div *ngIf="userInfo" class="dropdown-usermenu dropdown-left" ngbDropdown>
    <a class="" ngbDropdownToggle>
      <i class="fa fa-user"></i>
      {{userInfo.name}}
    </a>
    <ul ngbDropdownMenu>
      <li class="dropdown-item">
        <a [routerLink]="['/logout']">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="body">
  <main role="main">
    <router-outlet></router-outlet>
  </main>
</div>
