@import "variables";

app-main {
  height: 100vh;
  display: grid;
  grid-template-rows: $navbar-height auto;
}
.body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$navbar-height});
  main {
    overflow: auto;
    flex-basis: 100%;
    padding: 1.5rem;
    background-color: $main-bgcolor;
    > router-outlet+* {
      height: 100%;
      display: block;
    }
  }
}
nav {
  background-color: $navbar-bgcolor;
  color: $navbar-color;
  height: $navbar-height;
  width: 100%;
  display: flex;
  font-size: 15px;
  line-height: $navbar-height;
  border-color: $navbar-bcolor;
  a,
  a:hover,
  a:active {
    color: $navbar-color;
    text-decoration: none;
  }
  i.fa {
    font-size: 22px;
    vertical-align: -3px;
    padding: 0 5px;
  }
  .navigation {
    flex-grow: 1;
  }
  .dropdown-menu {
    background-color: $navbar-bgcolor;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid;
    border-color: $navbar-bcolor;
    line-height: 30px;
    .dropdown-item {
      color: $navbar-color;
      padding: 0px;
      &:not(:first-child) {
        border-top: 1px solid;
        border-color: inherit;
      }
      &.disabled,
      &.disabled:hover {
        background-color: inherit;
        cursor: default;
        color: gray;
      }
      > a,
      > span {
        padding: 5px 10px 5px 25px;
        display: block;
      }
    }
    .dropdown-item:hover {
      background-color: $navbar-bcolor;
      color: $navbar-color;
    }
  }
  .dropdown > a {
    cursor: pointer;
    padding: 15px 10px;
  }
  .dropdown-notifications {
    border-left: 1px solid;
    border-color: inherit;
    .badge {
      position: absolute;
      top: 8px;
      right: 4px;
    }
  }
}
