<app-panel title="Create new note">
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input
        name="title"
        [(ngModel)]="formData.title"
        type="text"
        class="form-control"
        id="title"
        placeholder="Enter title"
      />
    </div>

    <div class="form-group">
      <label for="text">Text</label>
      <textarea [(ngModel)]="formData.text" name="text" class="form-control" id="text" rows="3"></textarea>
    </div>
    <button class="btn btn-primary" (click)="save()">Submit</button>
  </form>
</app-panel>
