@import "variables";

// .dropdown-toggle > * {
//   pointer-events: none;
// }

// .docs-list {
//   .docs-count {
//     &::before {
//       content: '(';
//       padding-right: 2px;
//     }

//     &::after {
//       content: ')';
//       padding-left: 2px;
//     }
//   }
// }

// .sidebar-footer {
//   z-index: 9999;
//   background-color: $sidebar-footer;

//   a:hover {
//     color: $sidebar-footer-hover;
//   }
// }

// .page-title {
//   .title_left {
//     width: auto;

//     +* {
//       margin-left: 20px;
//     }
//   }

//   .title_right {
//     width: auto;
//   }
// }

// .input-group-btn > .btn,
// .input-group-btn > .btn-group {
//   line-height: 20px;
// }

// .input-group-btn:last-child > .btn,
// .input-group-btn:last-child > .btn-group {
//   margin-right: 0;
// }

