// $body-color: #73879C;

$label-color: #999;
$link-color: #5A738E;
$link-hover-decoration: none;

$font-family-base: 'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;

$navbar-bgcolor: #2A3F54;
$navbar-color: #fff;
$navbar-height: 50px;
$navbar-bcolor: #3f5f7f;
$toolbar-height: 50px;
$splitter-color: #f0f0f0;
$splitter-border: #e6e9ed;
$form-border: #e5e5e5;
$sidebar-footer: #172D44;
$sidebar-footer-hover: #f2f5f7;

$main-bgcolor: #f2f2f2;

$blue: #3498DB;
$purple: #9B59B6;
$green: #1ABB9C;
$red: #E74C3C;

$input-focus-box-shadow: none;

$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$dropdown-link-active-bg: #ddd;
$dropdown-link-active-color: inherit;

$dropdown-link-hover-bg: #5e5e5e;
$dropdown-link-hover-color: #fff;

$custom-control-indicator-size: 1.5rem;
$custom-control-gutter: 2rem;

// You can add global styles to this file, and also import other style files
$saved-color: #66cc99 !default;
$taken-color: #53a704 !default;
$accept-color: #66cc99 !default;
$reject-color: #cc0000 !default;
$storno-color: #000 !default;
$li-background: rgb(245, 245, 245);
$li-rows-background: rgb(237, 237, 237);
$history-background: rgb(206, 203, 203);
