<app-panel *ngIf="note">
  <div class="form-group">
    <label>Date</label>
    <div>{{ note.date | date:'medium' }}</div>
  </div>

  <div class="form-group">
    <label>Title</label>
    <div>{{ note.title }}</div>
  </div>

  <div class="form-group">
    <label>Text</label>
    <div>{{ note.text }}</div>
  </div>
</app-panel>
